# Ignorar node_modules
node_modules/

# Ignorar build gerado pelo Next.js
.next/

# Ignorar arquivos temporários do sistema
.DS_Store
Thumbs.db

# Ignorar logs
npm-debug.log
yarn-error.log

# Ignorar cache de dependências de package manager
pnpm-lock.yaml
